<div id="game-options">
<ul>
    <li><b id="html5-wordsearch-timer" class="button">00:00:00</b></li>
    <li><b id="html5-wordsearch-score" class="button"><%= _['You have %d points'] %></b></li>
    <li><a href="#" id="show-help" class="button help" title="<%= _['Help'] %>"><%= _['Help'] %></a></li>
    <!-- <li><a href="#" id="restart" class="button right" title="<%= _['Restart'] %>"><%= _['Restart'] %></a></li> -->
    <li><a href="#" id="font-size-up" class="button left" title="">+A</a></li>
    <li><a href="#" id="font-size-down" class="button right" title=""><small>-A</small></a></li>
    <li><a href="#" id="download-puzzle" class="button" title=""><span>&#x21e9;</span> <%= _['Download'] %></a></li>
</ul>
</div>
<div id="soup"></div>
