<div class="html5-wordsearch">
  <div class="canvas-wrapper" id="canvasWrapper">
    <canvas class="grid" id="html5-wordsearch-grid-<%= uid %>"></canvas>
    <canvas class="lines" id="html5-wordsearch-lines-<%= uid %>"></canvas>
    <canvas class="layer" id="html5-wordsearch-layer-<%= uid %>"></canvas>
  </div>
    <ul class="list" id="html5-wordsearch-list-<%= uid %>"></ul>
    <div class="description" id="html5-wordsearch-description-<%= uid %>"></div>
</div>